<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Moment 2</title>
    <!-- Add ons  -->
    <link rel="stylesheet" href="~/css/main.css">
    <script src="https://kit.fontawesome.com/8726bca3f8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-container">
            <p class="logo"><a asp-controller="Home" asp-action="Index">Mina tv-serier</a></p>
            <nav>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Hem</a></li>
                    <li><a asp-controller="Home" asp-action="TvShows">Tv-Serier</a></li>
                    <li><a asp-controller="Home" asp-action="AddTvShow">Lägg till serie</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Mina tv-serier | Moment 2, Webbutveckling med .NET | Emma Ådahl Görling</p>
    </footer>
</body>