* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    font-family: "Roboto", serif;  
    color: var(--text);
    background-color: var(--darker-bg);
}

main {
    flex-grow: 1;
    padding-top: 3em;
}

footer {
    margin-top: auto;
    text-align: center;
    font-weight: 600;
}
h1 {
    display: block;
    text-align: center;
}

.mw50ch {
    max-width: 50ch;
    margin: auto;
}
.bg-dark {
    background-color: var(--dark-bg);
    padding: 1em 2em;
}

.lastAdd {
    margin: 3em auto;
    padding: 1em 2em;
    text-align: center;
}
.lastAdd p {
    margin-top: 2em;
    padding: 1em;
    font-size: 1.2em;
    font-style: italic;
}
.text-link {
    color: var(--text);
    transition: color 0.3s linear;
}
.text-link:hover {
    color: var(--mint);
}